*{
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, .body, header {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background: rgb(252, 248, 244);
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Open Sans', sans-serif;
	background-color: #0088D8; 
}

.logo {
	color: rgb(250, 255, 255);
	letter-spacing: 1px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.nav-links li{
	list-style: none;
}
.nav-links a {
	color: rgb(250, 255, 255);
	text-decoration: none;
	letter-spacing: 1px;
	/*font-weight: bold;*/
}

.burgerMenu {
	display: none;
}
.burgerMenu div{
	width: 25px;
	height: 1.5px;
	background-color: rgb(255, 255, 255);
	margin: 5px;
	transition: all 0.6s ease;
}

.pageBreak { 
	font-size: 20px;
}

@media screen and (max-width: 768px) {
	body {
		position:relative;
		overflow-x:hidden;
	}
	
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #0088D8;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		height: 5%;
		transform: translateX(100%);
	}

	.nav-links li {
		opacity: 0;
	}

	.burgerMenu {
		display: block;
		cursor: pointer;
	}

	.audioList {
		margin: 15px 0px 15px 0px;
	}
}

.nav-active {
	transform: translateX(0%);
	transition: transform 0.2s ease-in;
}

.nav-deactivate {
	transform: translateX(0%);
	transition: transform 0.2s ease-out;
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px); 
	}
}

.toggle .line1 {
	transform: rotate(315deg) translate(-5px, 4.5px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -4.5px);
}

h2 {
	padding: 20px 20% 0px 20%;
}

h3 {
	margin: 10px;
}

p {
	text-align: left;
	margin: 0 10px 0 0px;
	padding: 0 15% 0 15%;
}

.plainText p {
	padding: 2px; 
	text-align: center;
}

.plainText {
	margin: 10px;
}

a {
	margin: 0 -500%;
	padding: 5px 500%;
	background-size: 100%;
	background-color: #0088D8;
	color: rgb(250, 255, 255);
}

li {
	list-style: none;
}

.selfportrait {
	width: 240px;
	height: auto;
	border-radius: 10%;
	border: 20px solid #0088D8
	
}
/*
* iOS Apps
*/
.row {
	display: flex;
    align-items: center;
	justify-content: center;
  }
  
.column {
	flex: 50%;
	padding: 10px 0px 10px 0px;
  }

.image-img {	  
	max-width: 90%;
}

.app {
	margin: 20px;
	padding: 0 0 20px 0;
	border-radius: 10px;
	border: 1px solid darkgray;
	background: rgb(250, 250, 250);
}

.webpage-style {
	margin: 20px;
	padding: 0 20px 20px 20px;
	border-radius: 10px;
	border: 1px solid darkgray;
	background: rgb(250, 250, 250);
}
/*
* 3D printer
*/
.printer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.printer-img {	  
	flex: 50%;	  
	padding: 20px;	  
	max-width: 60%;	  
	border-radius: 10%;
}

/*
* Audio / Video
*/

.videoSection {
	margin: 20px;
	padding: 0 0 20px 0;
	border-radius: 10px;
	border: 1px solid darkgray;
	background: rgb(250, 250, 250);
}

.musicSection {
	margin: 20px;
	padding: 0 0 20px 0;
	border-radius: 10px;
	border: 1px solid darkgray;
	background: rgb(250, 250, 250);
}

.audioList {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 20px 15px 20px;

}

.audioList p {
	text-align: center;
}

.audioTrack {
	color: rgb(255, 255, 255);
	background: rgb(96, 96, 96);
	border: 1px solid rgb(103, 65, 0);
	
	margin: 5px 5% 5px 5%;
	min-width: 80%; 
	border-radius: 10px;
	/*padding: 5px 10px 5px 10px; */
}

.youtube-video {
	display: flex;
	padding: 10px 0px 20px;
	align-items: center;
	justify-content: center;
}

/*
* About
*/
.about-section {
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	border: 1px solid darkgray;
	background: rgb(250, 250, 250);
}

.about-section p {
	text-align: center;
}
.mail {
	
	text-decoration: none;
	letter-spacing: 0.2px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	background-color: rgb(250, 255, 255);
	color: rgb(50, 50, 63);

}

.mail-link {
	flex: 50%;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

footer {
	margin: 0 -500%;
	padding: 5px 500%;
	background-size: 100%;
	background-color: rgb(197, 207, 213);
	color: rgb(50, 50, 63);
}
